/* Devs */
[data-cid^="4249648-"] span.un.clickable,
[data-cid^="3604577-"] span.un.clickable,
[data-cid^="4453331-"] span.un.clickable,
[data-cid^="6-"] span.un.clickable {
color: #42a5dc !important;
}
[data-cid^="0000000-"] span.un.clickable,
[data-cid^="0000000-"] span.un.clickable,
[data-cid^="2-"] span.un.clickable {
color: #c59840 !important;
}

/* EbBot */
#chat [data-cid^="3454266-"] span.un.clickable {
color: rgb(210, 90, 195) !important;
}
#chat [data-cid^="3454266-"] i.bdg {
background: url('https://cdn.radiant.dj/rcs/radiant_logo_small.png') !important;
}
#chat [data-cid^="3454266-"] .icon {
display:none !important;
}
#chat .msg .text .id-3454266, #chat .msg .text .name.id-3454266, #chat .msg .text .name.id-3454266 .name {
color: rgb(210, 90, 195) !important;
}
#chat [data-cid^="3454266-"].emote {
    background: rgba(151, 67, 147, 0.35) !important;
}
#chat [data-cid^="3454266-"].emote .timestamp {
    color: #A993C7 !important;
}

#chat [data-cid^="3454266-"].emote .text {
    color: #DDC7FF !important;
}
/* Devs */
.id-4249648 span.un.clickable, #user-lists .list.room .id-4249648 .name, #user-lists .list.room .is-ambassador.id-4249648 .name, #user-lists .list.room .is-staff.id-4249648 .name, #user-lists .list.room .is-dj.id-4249648 .name, #user-lists .list.room .is-subscriber.id-4249648 .name, #user-lists .list.room [class*='role'].id-4249648 .name,
.id-4453331 span.un.clickable, #user-lists .list.room .id-4453331 .name, #user-lists .list.room .is-ambassador.id-4453331 .name, #user-lists .list.room .is-staff.id-4453331 .name, #user-lists .list.room .is-dj.id-4453331 .name, #user-lists .list.room .is-subscriber.id-4453331 .name, #user-lists .list.room [class*='role'].id-4453331 .name,
.id-3604577 span.un.clickable, #user-lists .list.room .id-3604577 .name, #user-lists .list.room .is-ambassador.id-3604577 .name, #user-lists .list.room .is-staff.id-3604577 .name, #user-lists .list.room .is-dj.id-6 .name, #user-lists .list.room .is-subscriber.id-3604577 .name, #user-lists .list.room [class*='role'].id-3604577 .name{
color: #42a5dc !important;
}
.id-3602201 span.un.clickable, #user-lists .list.room .id-3602201 .name, #user-lists .list.room .is-ambassador.id-3602201 .name, #user-lists .list.room .is-staff.id-3602201 .name, #user-lists .list.room .is-dj.id-3602201 .name, #user-lists .list.room .is-subscriber.id-3602201 .name, #user-lists .list.room [class*='role'].id-3602201 .name,
.id-4789330 span.un.clickable, #user-lists .list.room .id-4789330 .name, #user-lists .list.room .is-ambassador.id-4789330 .name, #user-lists .list.room .is-staff.id-4789330 .name, #user-lists .list.room .is-dj.id-4789330 .name, #user-lists .list.room .is-subscriber.id-4789330 .name, #user-lists .list.room [class*='role'].id-4789330 .name,
.id-2 span.un.clickable, #user-lists .list.room .id-2 .name, #user-lists .list.room .is-ambassador.id-2 .name, #user-lists .list.room .is-staff.id-2 .name, #user-lists .list.room .is-dj.id-2 .name, #user-lists .list.room .is-subscriber.id-2 .name, #user-lists .list.room [class*='role'].id-2 .name {
color: #42a5dc !important;
}


/* EbBot */
.id-3454266 span.un.clickable, #user-lists .list.room .id-3454266 .name, #user-lists .list.room .is-ambassador.id-3454266 .name, #user-lists .list.room .is-staff.id-3454266 .name, #user-lists .list.room .is-dj.id-3454266 .name, #user-lists .list.room .is-subscriber.id-3454266 .name, #user-lists .list.room [class*='role'].id-3454266 .name {
color: #d25ac3 !important;
}
#chat .id-3454266 .icon {
display:none !important;
}

/* FAROFABOT RELATED CSS */
[data-cid^="3454266-"] .msg .from .icon-chat-subscriber, #user-lists .list.room .id-3454266 .icon-chat-subscriber {
    background: url("https://cdn.radiant.dj/rcs/icons/radiant/litebot_subscriber.png") !important;
}
[data-cid^="3454266-"] .msg .from .icon-chat-dj, #user-lists .list.room .id-3454266 .icon-chat-dj {
    background: url("https://cdn.radiant.dj/rcs/icons/radiant/litebot_dj.png") !important;
}
[data-cid^="3454266-"] .msg .from .icon-chat-bouncer, #user-lists .list.room .id-3454266 .icon-chat-bouncer {
    background: url("https://cdn.radiant.dj/rcs/icons/radiant/litebot_bouncer.png") !important;
}
[data-cid^="3454266-"] .msg .from .icon-chat-manager, #user-lists .list.room .id-3454266 .icon-chat-manager {
    background: url("https://cdn.radiant.dj/rcs/icons/radiant/litebot_manager.png") !important;
}
[data-cid^="3454266-"] .msg .from .icon-chat-cohost, #user-lists .list.room .id-3454266 .icon-chat-cohost {
    background: url("https://cdn.radiant.dj/rcs/icons/radiant/litebot_cohost.png") !important;
}
[data-cid^="3454266-"] .msg .from .icon-chat-host, #user-lists .list.room .id-3454266 .icon-chat-host {
    background: url("https://cdn.radiant.dj/rcs/icons/radiant/litebot_host.png") !important;
}
[data-cid^="3454266-"] .msg .from .icon-chat-ambassador, #user-lists .list.room .id-3454266 .icon-chat-ambassador {
    background: url("https://cdn.radiant.dj/rcs/icons/radiant/litebot_ambassador.png") !important;
}
#user-rollover.id-3454266 .username {
    color: #d25ac3 !important;
}
#chat .msg .text .id-3454266,
#chat .msg .text .name.id-3454266,
#chat .msg .text .name.id-3454266 .name {
    color: #d25ac3 !important;
}


/* XB RELATED CSS 
[data-cid^="3602201-"] .msg .from .icon-chat-subscriber, #user-lists .list.room .id-3602201 .icon-chat-subscriber,
[data-cid^="4789330-"] .msg .from .icon-chat-subscriber, #user-lists .list.room .id-4789330 .icon-chat-subscriber,
[data-cid^="2-"] .msg .from .icon-chat-subscriber, #user-lists .list.room .id-2 .icon-chat-subscriber {
    background: url("https://cdn.radiant.dj/rcs/icons/radiant/xbytez_subscriber.png") !important;
}
[data-cid^="3602201-"] .msg .from .icon-chat-dj, #user-lists .list.room .id-3602201 .icon-chat-dj,
[data-cid^="4789330-"] .msg .from .icon-chat-dj, #user-lists .list.room .id-4789330 .icon-chat-dj,
[data-cid^="2-"] .msg .from .icon-chat-dj, #user-lists .list.room .id-2 .icon-chat-dj {
    background: url("https://cdn.radiant.dj/rcs/icons/radiant/xbytez_dj.png") !important;
}
[data-cid^="3602201-"] .msg .from .icon-chat-bouncer, #user-lists .list.room .id-3602201 .icon-chat-bouncer,
[data-cid^="4789330-"] .msg .from .icon-chat-bouncer, #user-lists .list.room .id-4789330 .icon-chat-bouncer,
[data-cid^="2-"] .msg .from .icon-chat-bouncer, #user-lists .list.room .id-2 .icon-chat-bouncer {
    background: url("https://cdn.radiant.dj/rcs/icons/radiant/xbytez_bouncer.png") !important;
}
[data-cid^="3602201-"] .msg .from .icon-chat-manager, #user-lists .list.room .id-3602201 .icon-chat-manager,
[data-cid^="4789330-"] .msg .from .icon-chat-manager, #user-lists .list.room .id-4789330 .icon-chat-manager,
[data-cid^="2-"] .msg .from .icon-chat-manager, #user-lists .list.room .id-2 .icon-chat-manager {
    background: url("https://cdn.radiant.dj/rcs/icons/radiant/xbytez_manager.png") !important;
}
[data-cid^="3602201-"] .msg .from .icon-chat-cohost, #user-lists .list.room .id-3602201 .icon-chat-cohost,
[data-cid^="4789330-"] .msg .from .icon-chat-cohost, #user-lists .list.room .id-4789330 .icon-chat-cohost,
[data-cid^="2-"] .msg .from .icon-chat-cohost, #user-lists .list.room .id-2 .icon-chat-cohost {
    background: url("https://cdn.radiant.dj/rcs/icons/radiant/xbytez_cohost.png") !important;
}
[data-cid^="3602201-"] .msg .from .icon-chat-host, #user-lists .list.room .id-3602201 .icon-chat-host,
[data-cid^="4789330-"] .msg .from .icon-chat-host, #user-lists .list.room .id-4789330 .icon-chat-host,
[data-cid^="2-"] .msg .from .icon-chat-host, #user-lists .list.room .id-2 .icon-chat-host {
    background: url("https://cdn.radiant.dj/rcs/icons/radiant/xbytez_host.png") !important;
}
[data-cid^="3602201-"] .msg .from .icon-chat-ambassador, #user-lists .list.room .id-3602201 .icon-chat-ambassador,
[data-cid^="4789330-"] .msg .from .icon-chat-ambassador, #user-lists .list.room .id-4789330 .icon-chat-ambassador,
[data-cid^="2-"] .msg .from .icon-chat-ambassador, #user-lists .list.room .id-2 .icon-chat-ambassador {
    background: url("https://cdn.radiant.dj/rcs/icons/radiant/xbytez_ambassador.png") !important;
}
#user-rollover.id-3602201 .username,
#user-rollover.id-4789330 .username,
#user-rollover.id-2 .username {
    color: #42a5dc !important;
}
#chat .msg .text .id-3602201,
#chat .msg .text .name.id-3602201,
#chat .msg .text .name.id-3602201 .name,
#chat .msg .text .id-4789330,
#chat .msg .text .name.id-4789330,
#chat .msg .text .name.id-4789330 .name,
#chat .msg .text .id-2,
#chat .msg .text .name.id-2,
#chat .msg .text .name.id-2 .name {
    color: #42a5dc !important;
} */

/* FU RELATED CSS */
[data-cid^="4249648-"] .msg .from .icon-chat-subscriber, #user-lists .list.room .id-4249648 .icon-chat-subscriber,
[data-cid^="3604577-"] .msg .from .icon-chat-subscriber, #user-lists .list.room .id-3604577 .icon-chat-subscriber,
[data-cid^="4453331-"] .msg .from .icon-chat-subscriber, #user-lists .list.room .id-4453331 .icon-chat-subscriber,
[data-cid^="6-"] .msg .from .icon-chat-subscriber, #user-lists .list.room .id-6 .icon-chat-subscriber {
    background: url("https://cdn.radiant.dj/rcs/icons/radiant/origin_subscriber.png") !important;
}
[data-cid^="4249648-"] .msg .from .icon-chat-dj, #user-lists .list.room .id-4249648 .icon-chat-dj,
[data-cid^="3604577-"] .msg .from .icon-chat-dj, #user-lists .list.room .id-3604577 .icon-chat-dj,
[data-cid^="4453331-"] .msg .from .icon-chat-dj, #user-lists .list.room .id-4453331 .icon-chat-dj,
[data-cid^="6-"] .msg .from .icon-chat-dj, #user-lists .list.room .id-6 .icon-chat-dj {
    background: url("https://cdn.radiant.dj/rcs/icons/radiant/admin.png") !important;
}
[data-cid^="4249648-"] .msg .from .icon-chat-bouncer, #user-lists .list.room .id-4249648 .icon-chat-bouncer,
[data-cid^="3604577-"] .msg .from .icon-chat-bouncer, #user-lists .list.room .id-3604577 .icon-chat-bouncer,
[data-cid^="4453331-"] .msg .from .icon-chat-bouncer, #user-lists .list.room .id-4453331 .icon-chat-bouncer,
[data-cid^="6-"] .msg .from .icon-chat-bouncer, #user-lists .list.room .id-6 .icon-chat-bouncer {
    background: url("https://cdn.radiant.dj/rcs/icons/radiant/admin.png") !important;
}
[data-cid^="4249648-"] .msg .from .icon-chat-manager, #user-lists .list.room .id-4249648 .icon-chat-manager,
[data-cid^="3604577-"] .msg .from .icon-chat-manager, #user-lists .list.room .id-3604577 .icon-chat-manager,
[data-cid^="4453331-"] .msg .from .icon-chat-manager, #user-lists .list.room .id-4453331 .icon-chat-manager,
[data-cid^="6-"] .msg .from .icon-chat-manager, #user-lists .list.room .id-6 .icon-chat-manager, {
    background: url("https://cdn.radiant.dj/rcs/icons/radiant/admin.png") !important;
}
[data-cid^="4249648-"] .msg .from .icon-chat-cohost, #user-lists .list.room .id-4249648 .icon-chat-cohost,
[data-cid^="3604577-"] .msg .from .icon-chat-cohost, #user-lists .list.room .id-3604577 .icon-chat-cohost,
[data-cid^="4453331-"] .msg .from .icon-chat-cohost, #user-lists .list.room .id-4453331 .icon-chat-cohost,
[data-cid^="6-"] .msg .from .icon-chat-cohost, #user-lists .list.room .id-6 .icon-chat-cohost {
    background: url("https://cdn.radiant.dj/rcs/icons/radiant/admin.png") !important;
}
[data-cid^="4249648-"] .msg .from .icon-chat-host, #user-lists .list.room .id-4249648 .icon-chat-host,
[data-cid^="3604577-"] .msg .from .icon-chat-host, #user-lists .list.room .id-3604577 .icon-chat-host,
[data-cid^="4453331-"] .msg .from .icon-chat-host, #user-lists .list.room .id-4453331 .icon-chat-host,
[data-cid^="6-"] .msg .from .icon-chat-host, #user-lists .list.room .id-6 .icon-chat-host {
    background: url("https://cdn.radiant.dj/rcs/icons/radiant/admin.png") !important;
}
[data-cid^="4249648-"] .msg .from .icon-chat-ambassador, #user-lists .list.room .id-4249648 .icon-chat-ambassador,
[data-cid^="3604577-"] .msg .from .icon-chat-ambassador, #user-lists .list.room .id-3604577 .icon-chat-ambassador,
[data-cid^="4453331-"] .msg .from .icon-chat-ambassador, #user-lists .list.room .id-4453331 .icon-chat-ambassador,
[data-cid^="6-"] .msg .from .icon-chat-ambassador, #user-lists .list.room .id-6 .icon-chat-ambassador {
    background: url("https://cdn.radiant.dj/rcs/icons/radiant/origin_ambassador.png") !important;
} 
#chat-messages .from.ambassador .icon.icon-chat-silver-subscriber, #chat-messages .from.ambassador .icon.icon-chat-subscriber, #chat-messages .from.ambassador.has-staff .icon.icon-chat-ambassador, #chat-messages .from.dj .icon.icon-chat-silver-subscriber, #chat-messages .from.dj .icon.icon-chat-subscriber, #chat-messages .from.staff .icon.icon-chat-silver-subscriber, #chat-messages .from.staff .icon.icon-chat-subscriber {
    margin-right: 1px;
}

/*
#user-rollover .info .role i {
    position: relative;
    float: left;
    margin-top: 2px;
}
.icon-chat-dj, .icon-chat-leader, .icon-chat-volunteer {
    background-position: 0px -350px;
    width: 15px;
    height: 15px;
}
#user-rollover.is-staff .info .role span {
    color: #42a5dc; 

    
} */
#user-rollover.id-4249648 .username,
#user-rollover.id-3604577 .username,
#user-rollover.id-4453331 .username {
    color: #42a5dc !important;
}
#chat .msg .text .id-4249648,
#chat .msg .text .name.id-4249648,
#chat .msg .text .name.id-4249648 .name,
#chat .msg .text .id-3604577,
#chat .msg .text .name.id-3604577,
#chat .msg .text .name.id-3604577 .name,
#chat .msg .text .id-4453331,
#chat .msg .text .name.id-4453331,
#chat .msg .text .name.id-4453331 .name,
#chat .msg .text .id-6,
#chat .msg .text .name.id-6,
#chat .msg .text .name.id-6 .name {{
    color: #42a5dc !important;
}

#user-lists .id-4249648.role-cohost.is-staff
}
